*{
	margin:0;
	padding:0;
}
html{
	font-family:"Segoe UI",sans-serif;
	color:#515151;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
span.bold{
	font-weight:bold;
}
p.failed{
	border:solid 1px #E26A6A;
	color:#E26A6A;
	font-weight:bold;
	margin:1em 2em;
	padding:0.5em;
}
p.success{
	border:solid 1px #1BBC9B;
	color:#1BBC9B;
	font-weight:bold;
	margin:1em 2em;
	padding:0.5em;
}
p.asterix{
	font-size:0.9em;
	color:#888;
}
/*--------------------------------*/
input[type='text'],select,input[type='file'],textarea{
	border:none;
	border:solid 1px #ccc; 
	padding:0.5em 0 0.5em 1em;
	width:100%;
	font-family:sans-serif;
	box-sizing:border-box;
	transition:border 0.2s;
}
input[type='text']:focus,select:focus,input[type='file']:focus,textarea:focus{
	outline:none;
	border:solid 1px #515151;
}
input[type='submit']{
	background-color:#515151;
	color:#fff;
	padding:0.5em 3em;
	margin:0.5em;
	border:none;
	border:solid 1px #515151;
	cursor:pointer;
	/*transition:background-color 0.2s,color 0.2s;*/
}
input[type='submit']:focus{
	outline:none;
}
/*--------------------------------------*/
header{
	background-color:#fff;
	padding:0.5em 3em;
	/*border-bottom:solid 1px #515151;*/
	box-shadow:0 0 3px #888;
	width:100%;
	position:fixed;
	z-index:100;
}
header h2{
	font-weight:normal;
}
header a{
	color:#515151;
}
/*-----------------------------*/
aside,main{
	margin-top:2em;
	padding-top:2em;
	
	display:inline-block;
	vertical-align: top;
}
aside{
  	width:20%;
  	height:100%;
  	padding-top:2em;
  	position:fixed;
	background-color:#fff;
	border-right:solid 1px #515151;
	/*box-shadow:0 3px 3px #888;*/
}
aside a{
	color:#515151;
	display:block;
	padding:0.5em 3em;
	text-align:right;
}
aside > ul > li > a{
	color:#515151;
	border-bottom:solid 1px #515151;
	text-align:left;
}
aside li li a{
	display:block;
	padding:1em;
	transition:font-weight 0.2s;
}
aside li li a:hover{
	font-weight:bold;
}
/*---------------------------------*/
main{
	box-sizing:border-box;
	margin:2em 0;
	position:relative;
	left:20%;
	width:80%;
}
main>div{
	margin-bottom:1em;
}
main>div h4,main>div>div{
	padding:0.5em 2em;
}
main h4{
	border-bottom:solid 1px #515151;
}
main table{
	width:100%;
}
main table td{
	padding:0.5em;
}
/*-------------------------*/
div.manage_options span,div.manage_category span{
	border:solid 1px #888;
	padding:0 5px;
	margin-right:1em;
}
div.manage_options a:hover span,div.manage_category a:hover span,div.manage_options a.active span,div.manage_category a.active span{
	background-color:#515151;
}
div.manage_options a,div.manage_category a{
	display:block;
	color:#000;
	padding:0.5em;
	text-decoration:none;
	transition:border-left 0.3s;
}
/*---------------------------------*/
div.modify_slide{
	border-bottom:solid 1px #ccc;
}
div.modify_slide label,div#modify_about label{
	cursor:pointer;
	margin-right:4em;
}
div.modify_slide input[type=file],div#modify_about input[type=file]{
	display:none;
}
